.cart-circle {
  height: 40px;
  width: 40px;
  background: #de7575;
  box-shadow: 1px 1px 3px rgba(115, 143, 120, 0.22);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 47px;
  right: 40px;
}

.cart-cant {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff !important;
}
