.header-social-container{
    background-color: #E9E3E3;
    width: 100%;
    height: 40px;
}

.header-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.header-navbar{
    background-color: #CAC2C2 !important ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 90px;
    min-height: 90px;
}
.header-navbar a{
    color: #484545;
    font-size: 1.5rem;
}

.navbar{
    flex-wrap: nowrap;
}

.drop-props{
    background-color:#CAC2C2 ;
    box-shadow: 0px 4px 4px 4px rgba(115, 143, 120, 0.22);
    border: none;
}

.dropdown-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    
    .dropdown-position{
        box-shadow: 0px 3px 3px 3px rgba(115, 143, 120, 0.22);
        position: absolute;
        width: 230px;
        right: 50px;
        top: 85px;
        background-color: #CAC2C2;
        padding: 0px 15px;
        z-index: 1;
        border-radius: 15px;
    }
    .drop-props{
        background-color:#dacece ;
        box-shadow: none;
    }
    .drop-props li a{
        font-size: 1.2rem;
    }
}